{%- macro basicNanopub(vars, nanopub_class) -%}
<div class="nanopub {{ nanopub_class }}">
<pre class="nanopub-prefixes">
{%- if vars['nanopub.default.before'] %}
{{ vars['nanopub.default.before']|escape }}
{% endif -%}
{%- if vars['nanopub.before'] %}
{{ vars['nanopub.before']|escape }}
{% endif -%}
@prefix : &lt;{{ vars['nanopub.uri'] }}&gt; .
@prefix np: &lt;http://www.nanopub.org/nschema#&gt; .
@prefix npx: &lt;http://purl.org/nanopub/x/&gt; .
{%- if vars['nanopub.default.prefixes'] %}
{{ vars['nanopub.default.prefixes']|escape }}
{% endif -%}
{%- if vars['nanopub.prefixes'] %}
{{ vars['nanopub.prefixes']|escape }}
{%- endif %}
</pre>
<pre class="nanopub-head">
:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}
</pre>
<pre class="nanopub-assertion">
:assertion {
{%- if vars['nanopub.default.statements'] %}
{{ vars['nanopub.default.statements']|indent(2, True)|escape }}
{%- endif %}
{%- if vars['nanopub.statements.start'] %}
{{ vars['nanopub.statements.start']|indent(2, True)|escape }}
{%- endif %}
{%- if vars['nanopub.statements'] %}
{{ vars['nanopub.statements']|indent(2, True)|escape }}
{%- endif %}
{%- if vars['nanopub.statements.end'] %}
{{ vars['nanopub.statements.end']|indent(2, True)|escape }}
{%- endif %}
}
</pre>
<pre class="nanopub-provenance">
:provenance {
{%- if vars['nanopub.default.provenance'] %}
{{ vars['nanopub.default.provenance']|indent(2, True)|escape }}
{%- endif %}
{%- if vars['nanopub.provenance'] %}
{{ vars['nanopub.provenance']|indent(2, True)|escape }}
{%- endif %}
}
</pre>
<pre class="nanopub-pubinfo">
:pubinfo {
{%- if vars['nanopub.default.pubinfo'] %}
{{ vars['nanopub.default.pubinfo']|indent(2, True)|escape }}
{%- endif %}
{%- if vars['nanopub.pubinfo'] %}
{{ vars['nanopub.pubinfo']|indent(2, True)|escape }}
{%- endif %}
{%- if not nanopub_index and submissions.nanopubs|length > 0 %}

  : npx:supersedes &lt;{{ submissions.nanopubs[0].uri }}&gt; ;
{%- endif %}
}
</pre>
<pre>
{%- if vars['nanopub.default.after'] %}
{{ vars['nanopub.default.after']|escape }}
{% endif -%}
{%- if vars['nanopub.after'] %}
{{ vars['nanopub.after']|escape }}
{% endif -%}
</pre>
</div>
{%- endmacro -%}

{%- macro indexNanopub(uris, vars) -%}
<div class="nanopub nanopub-index">
<div class="nanopub-name">Nanopublication Index</div>
<pre class="nanopub-prefixes">
{%- if vars['nanopub.index.before']|escape -%}
{{ vars['nanopub.index.before']|escape }}
{% endif -%}
@prefix : &lt;{{ vars['nanopub.index.uri'] }}&gt; .
@prefix np: &lt;http://www.nanopub.org/nschema#&gt; .
@prefix npx: &lt;http://purl.org/nanopub/x/&gt; .
{% if vars['nanopub.index.prefixes']|escape -%}
{{ vars['nanopub.index.prefixes']|escape }}
{%- endif %}
</pre>
<pre class="nanopub-head">
:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}
</pre>
<pre class="nanopub-assertion">
:assertion {
{%- if uris|length > 0 %}
  : npx:includesElement 
{%- for uri in uris %}
      &lt;{{ uri }}&gt; {% if loop.last %}.{% else %},{% endif %}
{%- endfor %}
{%- endif -%}

{{ vars['nanopub.index.statements']|indent(2, True)|escape }}
}
</pre>
<pre class="nanopub-provenance">
:provenance {
{{ vars['nanopub.index.provenance']|indent(2, True)|escape }}
}
</pre>
<pre class="nanopub-pubinfo">
:pubinfo {
{{ vars['nanopub.index.pubinfo']|indent(2, True)|escape }}
{%- if submissions.nanopubs|length > 0 %}

  : npx:supersedes &lt;{{ submissions.nanopubs[0].uri }}&gt; ;
{%- endif %}
}
</pre>
<pre>
{%- if vars['nanopub.index.after'] %}
{{ vars['nanopub.index.after']|escape }}
{% endif -%}
</pre>
</div>
{%- endmacro -%}

{%- macro extraNanopub(vars) -%}
<div class="nanopub nanopub-extra">
<div class="nanopub-name">Nanopublication Extra</div>
<pre class="nanopub-prefixes">
{%- if vars['nanopub.extra.before']|escape -%}
{{ vars['nanopub.extra.before']|escape }}
{% endif -%}
@prefix : &lt;{{ vars['nanopub.extra.uri'] }}&gt; .
@prefix np: &lt;http://www.nanopub.org/nschema#&gt; .
@prefix npx: &lt;http://purl.org/nanopub/x/&gt; .
{% if vars['nanopub.extra.prefixes']|escape -%}
{{ vars['nanopub.extra.prefixes']|escape }}
{%- endif %}
</pre>
<pre class="nanopub-head">
:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}
</pre>
<pre class="nanopub-assertion">
:assertion {
{{ vars['nanopub.extra.statements']|indent(2, True)|escape }}
}
</pre>
<pre class="nanopub-provenance">
:provenance {
{{ vars['nanopub.extra.provenance']|indent(2, True)|escape }}
}
</pre>
<pre class="nanopub-pubinfo">
:pubinfo {
{{ vars['nanopub.extra.pubinfo']|indent(2, True)|escape }}
{%- if submissions.nanopubs|length > 0 %}

  : npx:supersedes &lt;{{ submissions.nanopubs[0].uri }}&gt; ;
{%- endif %}
}
</pre>
<pre>
{%- if vars['nanopub.extra.after'] %}
{{ vars['nanopub.extra.after']|escape }}
{% endif -%}
</pre>
</div>
{%- endmacro -%}

