{%- macro basicNanopub(vars) -%}
{%- do nanopub_uris.append(vars['nanopub.uri']) -%}
{%- if vars['nanopub.default.before'] %}
{{ vars['nanopub.default.before'] }}
{% endif -%}
{%- if vars['nanopub.before'] %}
{{ vars['nanopub.before'] }}
{% endif -%}
@prefix : <{{ vars['nanopub.uri'] }}> .
@prefix np: <http://www.nanopub.org/nschema#> .
@prefix npx: <http://purl.org/nanopub/x/> .
{%- if vars['nanopub.default.prefixes'] %}
{{ vars['nanopub.default.prefixes'] }}
{% endif -%}
{%- if vars['nanopub.prefixes'] %}
{{ vars['nanopub.prefixes'] }}
{%- endif %}

:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}

:assertion {
{%- if vars['nanopub.default.statements'] %}
{{ vars['nanopub.default.statements']|indent(2, True) }}
{%- endif %}
{%- if vars['nanopub.statements.start'] %}
{{ vars['nanopub.statements.start']|indent(2, True) }}
{%- endif %}
{%- if vars['nanopub.statements'] %}
{{ vars['nanopub.statements']|indent(2, True) }}
{%- endif %}
{%- if vars['nanopub.statements.end'] %}
{{ vars['nanopub.statements.end']|indent(2, True) }}
{%- endif %}
}

:provenance {
{%- if vars['nanopub.default.provenance'] %}
{{ vars['nanopub.default.provenance']|indent(2, True) }}
{%- endif %}
{%- if vars['nanopub.provenance'] %}
{{ vars['nanopub.provenance']|indent(2, True) }}
{%- endif %}
}

:pubinfo {
{%- if vars['nanopub.default.pubinfo'] %}
{{ vars['nanopub.default.pubinfo']|indent(2, True) }}
{%- endif %}
{%- if vars['nanopub.pubinfo'] %}
{{ vars['nanopub.pubinfo']|indent(2, True) }}
{%- endif %}
{%- if not nanopub_index and submissions.nanopubs|length > 0 %}

  : npx:supersedes <{{ submissions.nanopubs[0].uri }}> ;
{%- endif %}
}
{{ vars['nanopub.after'] }}
{{ vars['nanopub.default.after'] }}
{%- endmacro -%}

{%- macro indexNanopub(uris, vars) -%}
{%- if vars['nanopub.index.before'] -%}
{{ vars['nanopub.index.before'] }}
{% endif -%}
@prefix : <{{ vars['nanopub.index.uri'] }}> .
@prefix np: <http://www.nanopub.org/nschema#> .
@prefix npx: <http://purl.org/nanopub/x/> .
{% if vars['nanopub.index.prefixes'] -%}
{{ vars['nanopub.index.prefixes'] }}
{%- endif %}

:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}

:assertion {
{%- if uris|length > 0 %}
  : npx:includesElement 
{%- for uri in uris %}
      <{{ uri }}> {% if loop.last %}.{% else %},{% endif %}
{%- endfor %}
{%- endif -%}

{{ vars['nanopub.index.statements']|indent(2, True) }}
}

:provenance {
{{ vars['nanopub.index.provenance']|indent(2, True) }}
}

:pubinfo {
{{ vars['nanopub.index.pubinfo']|indent(2, True) }}
{%- if submissions.nanopubs|length > 0 %}

  : npx:supersedes <{{ submissions.nanopubs[0].uri }}> ;
{%- endif %}
}
{{ vars['nanopub.index.after'] }}
{%- endmacro -%}

{%- macro extraNanopub(vars) -%}
{%- if vars['nanopub.extra.before'] -%}
{{ vars['nanopub.extraextra.before'] }}
{% endif -%}
@prefix : <{{ vars['nanopub.extra.uri'] }}> .
@prefix np: <http://www.nanopub.org/nschema#> .
@prefix npx: <http://purl.org/nanopub/x/> .
{% if vars['nanopub.extra.prefixes'] -%}
{{ vars['nanopub.extra.prefixes'] }}
{%- endif %}

:Head {
  : a np:Nanopublication ;
    np:hasAssertion :assertion ;
    np:hasProvenance :provenance ;
    np:hasPublicationInfo :pubinfo .
}

:assertion {
{{ vars['nanopub.extra.statements']|indent(2, True) }}
}

:provenance {
{{ vars['nanopub.extra.provenance']|indent(2, True) }}
}

:pubinfo {
{{ vars['nanopub.extra.pubinfo']|indent(2, True) }}
{%- if submissions.nanopubs|length > 0 %}

  : npx:supersedes <{{ submissions.nanopubs[0].uri }}> ;
{%- endif %}
}
{{ vars['nanopub.extra.after'] }}
{%- endmacro -%}
