{%- import "src/html/nanopubs.html.j2" as nanopubsHtml with context -%}
{%- import "src/trig/nanopubs.trig.j2" as nanopubsTrig with context -%}

{%- macro basicNanopub(vars, nanopub_class, add_to_index) -%}
{%- if add_to_index %}
    {%- do nanopub_uris.append(vars['nanopub.uri']) -%}
{%- endif -%}
{%- if format == "html" -%}
{{ nanopubsHtml.basicNanopub(vars, nanopub_class) }}
{%- else -%}
{{ nanopubsTrig.basicNanopub(vars) }}
{%- endif -%}
{%- endmacro -%}

{%- macro indexNanopub(uris, vars) -%}
{%- if format == "html" -%}
{{ nanopubsHtml.indexNanopub(uris, vars) }}
{%- else -%}
{{ nanopubsTrig.indexNanopub(uris, vars) }}
{%- endif -%}
{%- endmacro -%}

{%- macro extraNanopub(vars) -%}
{%- if format == "html" -%}
{{ nanopubsHtml.extraNanopub(vars) }}
{%- else -%}
{{ nanopubsTrig.extraNanopub(vars) }}
{%- endif -%}
{%- endmacro -%}
