{%- set xnanopubs = [] -%}
{%- if ctx.extras and ctx.extras.submissions -%}
    {%- for submission in ctx.extras.submissions -%}
        {%- if submission.location and (submission.location.startswith('http://purl.org/np/') or submission.location.startswith('https://w3id.org/np/')) -%}
            {%- set submission_date = submission.created_at[:10] -%}
            {%- set separator = '/' -%}
            {%- if submission_date < "2025-08-10" -%}{#- Estimated date when default switched -#}
                {%- set separator = '#' -%}
            {%- endif -%}
            {%- do xnanopubs.append({
                'uri': submission.location,
                'timestamp': submission.created_at,
                'separator': separator,
                'uri_prefix': submission.location.rstrip('#/') ~ separator,
            }) -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
{%- set nanopubs = xnanopubs|sort(attribute='timestamp', reverse=True) -%}
